@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Scripture Journal</h1>
    <p>This Website allows you to record which scriptures you have read.</p>
</div>
